html
    head
        link(href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet")
    body
        h1.bg-gradient-to-r.bg.from-purple-100.to-gray-200.p-16.text-4xl.font-bold 나의 채팅서비스
        div.p-16.space-y-8
            div.bg-gray-100.p-2 채팅목록
            form.space-x-4.flex
                input.flex-1.border.border-gray-200.p-4.rounded(placeholder="채팅을 입력해보세요.")
                button.bg-blue-600.text-white.p-2.rounded 보내기
        script (src="/public/client.js")